
#tot {
  background: #464646;
  width: 100%;
}
.item {
  border-radius: 100px;
  margin-top: 8px;
}
#title {
  margin-left: 0%;
}
#bloco{
  background: #464646;
}
header {
  text-align: center;
}
ion-label{
  color:white
}
.error-message{
  color: red;
  text-align: center;
}
