.total{
    background: #464646;
    min-height: 100%;
    padding-top: 2px;
}
.bloco{
    background: #313132;
    margin-top: 5px;
    padding: 4px;
    
}
P{
    color: white;
    font-size: 20px;
}
ion-title{
    color: #57d055;
    font-size: 25px;
    position: inherit;

}
.obs{
    background-color: #313132;
    margin: 3px;
    color: #57d055;
    font-size: 20px;
    border-radius: 15px;
    text-align: center;

  }
  img{
      width: 100%;
  }