<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title mode="ios">O Buyers Sheeps</ion-title>
  </ion-toolbar>

  <img src="../../../assets/imagens/header.png">
  <!--imagem LOGO empresa-->
</ion-header>

<ion-content>
  <div class="total">
    
    <div class="bloco obs">
      <ion-title>Objetivos</ion-title>
      <p>Este app foi desenvolvido especialmente para o Município de 
        Tauá-CE, visamos que nossos
        cidadãos possam ter qualquer
        produto/seviço em sua comodidade.</p>
    </div>

    <div class="bloco obs">
      <ion-title>Alguma sujestão?</ion-title>
      <p>Se você percebeu algum problema, bug, ou ainda, deseja nós
        dar sua opinião sobre algum aspecto do Buyers Sheeps, como 
        cores, fontes, ou dispersão dos
        elementos, clique abaixo!</p>
        <ion-button shape="round" color="danger" href="https://api.whatsapp.com/send?phone=5588997702081&text=Ol%C3%A1%2C%20Quero%20dar%20minha%20opnião%20sobre%20o%20Sheeps%20Buyers!"> <ion-icon name="logo-whatsapp"></ion-icon> Whats</ion-button>
    </div>

    <div class="bloco obs">
      <ion-title>Quero ser um fornecedor!</ion-title>
      <p>“Sou fornecedor dos cidadãos tauaenses e quero postar meus 
        produtos no Buyers Sheeps!”.
        Se você se encaixa na afimação 
        acima, basta clicar abaixo para 
        saber como impulsionar suas 
        vendas no meio digital!</p>
        <ion-button shape="round" color="danger" href="https://api.whatsapp.com/send?phone=5588997702081&text=Ol%C3%A1%2C%20Quero%20ser%20uma%20empresa%20de%20sucesso%20no%20Sheeps%20Buyers!"> <ion-icon name="logo-whatsapp"></ion-icon> Whats</ion-button>
    </div>

  
  </div>
</ion-content>