#tot {
  background: #464646;
  width: 100%;
}
#bloco {
  background: #464646;
}
ion-label {
  color: white;
  font-size: 25px;
}
header {
  text-align: center;
}
.item {
  border-radius: 100px;
  margin-top: 8px;
}
#title {
  margin-left: 0%;
}
.error-message{
  color:red;
  text-align: center;
}
#msgNet{
  text-align: center;

  color: #57d055;

  background-color: #464646;
  width: auto;
  height: min(100%);
  padding-top: 30%;
}